.mainBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_pannelBody_wrapper,
.home_pannel_wrap,
.home_body_wrap {

   overflow-y:auto; 
}

.home_pannelBody_wrapper {
  display: flex;
  flex: 1;
}
.home_pannel_wrap {
  
  width: 300px;
}
.home_body_wrap {
 
  flex: 1;
}
